.container {
  width: 1440px;
  margin: 96px auto 0 auto;
}

.container a {
  font-weight: 600;
  font-size: 1.125em;
}

.goBack {
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.goBack svg {
  transition: fill 0.3s ease;
  margin-right: 4px;
  fill: var(--text);
}

.goBack:hover {
  color: var(--text-alt);
}

.goBack:hover svg {
  fill: var(--text-alt);
}

.container > h1 {
  font-size: 4em;
  line-height: 100%;
  font-weight: bold;
  color: var(--text);
}

.container > h1 > span {
  color: var(--text-alt);
}

.colorsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  margin-bottom: 96px;
}

@media (max-width: 1504px) {
  .container {
    max-width: 1280px;
  }
  .colorsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1344px) {
  .container {
    max-width: 960px;
  }
  .colorsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 80%;
  }
  .colorsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
