.generalWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 80vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "textAndInputWrapper gradientBox gradientBox";
  column-gap: 32px;
}

.textAndInputWrapper {
  grid-area: textAndInputWrapper;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

h1.cta {
  margin: 0;
  font-weight: bold;
  font-size: 4em;
}

.inputWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 100%;
}

.inputWrapper form label {
  color: var(--text-alt);
  font-size: 0.875em;
  font-weight: 600;
  margin-bottom: 4px;
}

.inputWrapper form input {
  width: 100%;
  background: var(--bg);
  border: 0;
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 8px;
  border-bottom: 1px solid var(--text);
}

.inputWrapper a {
  transition: background 0.2s ease;
  background: var(--text);
  color: var(--bg);
  outline: none;
  border: 0;
  font-weight: 600;
  font-size: 1.5em;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
}

.inputWrapper a:hover {
  background: var(--text-alt);
}

.gradientBox {
  grid-area: gradientBox;
  height: 100%;
  border-radius: 16px;
  /* background: linear-gradient(-45deg, #f2709c, #ff9472, #5a35d4);
  background-size: 400% 400%;
  animation: GradientAnimation 30s ease infinite; */
  background: linear-gradient(-45deg, #3207c1 0%, #c9f53a 100%);
}

@media (max-width: 1504px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1344px) {
  .container {
    max-width: 960px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "textAndInputWrapper gradientBox";
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 80%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "textAndInputWrapper";
  }
  .gradientBox {
    display: none;
  }
  .inputWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
