@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/hk-grotesk/HKGrotesk-Regular.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/hk-grotesk/HKGrotesk-Light.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/hk-grotesk/HKGrotesk-Medium.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/hk-grotesk/HKGrotesk-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/hk-grotesk/HKGrotesk-Bold.woff") format("woff");
}
